# See example script at https://github.com/JuliaLang/Example.jl
language: julia

os:
  - linux
  - osx

julia:
  - 0.6
  - 0.7
  - 1.0
  - 1.1
  - nightly

matrix:
  allow_failures:
  - julia: nightly

notifications:
  email: false

#script: # the default script is equivalent to the following
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("LinearInterpolators"); Pkg.test("LinearInterpolators"; coverage=true)';

after_success:
  - julia -e 'if VERSION >= v"0.7.0-" using Pkg end; cd(Pkg.dir("LinearInterpolators")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';

#jobs:
#  include:
#    - stage: "Documentation"
#      julia: 1.0
#      os: linux
#      script:
#        - julia --project=docs/ -e 'using Pkg;
#                                    Pkg.develop(PackageSpec(path=pwd()));
#                                    Pkg.build("LinearInterpolators");
#                                    Pkg.instantiate()'
#        - julia --project=docs/ docs/make.jl
#      after_success: skip
